<html>
<head lang="en">
    <meta charset="utf-8">
</head>
<body>
    <form action="charge" method="POST">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_9C0tA32nmQxBfO"
            data-amount="10020"
            data-name="Purchase Name"
            data-description="Purchase Description"
            data-image="image.jpg"
            data-netbanking="true"
            data-description="description"
            data-prefill.name="Imayavalli N"
            data-prefill.email="imayn9@gmail.com"
            data-prefill.contact="9999999999"
            data-notes.shopping_order_id="21">
        </script>
        <input type="hidden" name="shopping_order_id" value="21">
    </form>
</body>
</html>